/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Blinker', sans-serif;
*/

/* SLIDE IN */
/* -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease; */

/*FADE IN*/
/* animation: fadein 2s;
-moz-animation: fadein 2s;
-webkit-animation: fadein 2s;
-o-animation: fadein 2s;  */
.first
{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
.sectionBar
{
  display: grid;
  grid-template-columns: auto;
  background: #0F0E16;
  padding-left: 120px;
  padding-top: 200px;
  padding-bottom: 200px;
  color: white;
  font-family: 'Oswald', sans-serif;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
}
.titleBar
{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  top: 0px;
  position: sticky;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  z-index: 999;
}

.images
{
  height: auto;
}
.header
{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
#mainHeader
{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-family: 'Roboto', sans-serif;
}
.defaultButtons
{
  display: grid;
  grid-template-columns: repeat(3, auto);
}
#webName
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;
}
#aboutButton
{
  grid-area: abutton;
  display: block;
  width: 100%;
  border: none;
  background-color: #1b0221;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}
#photosButton
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}
#searchBox
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}

.paragraphGrid
{
  /* animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px 400px 400px;
  grid-row-gap: 50px;
  grid-column-gap: 100px;
  padding-top: 100px;
  margin-bottom: 200px;
  margin-left: 250px;
  margin-right: 250px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.paragraphs
{
  background-color: white;
  box-shadow: 3px 3px 3px -3px lightgrey;
  box-shadow: 1px 1px 3px 3px lightgrey;
  padding-top: 50px;
  padding-bottom: 50px;
}
.paragraphTitle
{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-family: 'Roboto', sans-serif;
}
.paragraphPassages
{
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  line-height: 1.5;
  padding-top: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}
a
{
  text-decoration: none;
  color: black;
}

.dropdown{
  position: inline-block;
}

.dropdown-content{
  display:none;
  background-color: white;
  min-width: 160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2) ;
  z-index: 1000;
  position:absolute;
}

/* links inside the dropdown */
.dropdown-content a{
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;

}

/* change color of dropdown links of hover */
.dropdown-content a:hover{background-color: #ddd;}

/* show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display:block;}

/* chnage bkgrd color of dropdown button when dropdown content is shown */
.dropdown:hover #searchBox {background-color: #1b0221;}


#p1
{
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;
}
#p2
{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}
#p3
{
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}
#i1
{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: url('file:///Users/google/Desktop/Screenshot_20190812-092050_Instagram.jpg');
  background-size: cover;

}
#i2
{
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background: url('file:///Users/google/Desktop/20190812_091008.jpg');
  background-size: cover;

}
#i3
{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background: url('file:///Users/google/Desktop/IMG_20190809_153202_740.jpg');
  background-size: cover;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
