/*
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Blinker', sans-serif;
*/
.titleBar
{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  top: 0px;
  position: sticky;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -o-animation: fadein 2s;
  z-index: 999;
}

#webName
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;
}
#aboutButton
{
  grid-area: abutton;
  display: block;
  width: 100%;
  border: none;
  background-color: #1b0221;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}
#photosButton
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}
#searchBox
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}

/* header {
    padding: 10px;
    text-align: center;
    background: black;
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
  } */

  .sectionBar
  {
    display: grid;
    grid-template-columns: auto;
    background: #0F0E16;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    font-family: 'Oswald', sans-serif;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
  }

body{
  background-color: #0F0E16;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 30px;
  background-color: #00CC6E;
}

/* div.text
{
  ;
} */

.grid-container >div {
  border-width: 20px;
  border: 2px solid white	;
  background-color: #2E8B57	;
  text-align: left;
  border-radius: 20px;
  padding: 40px;
  font-size: 15px;
}

.first
{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
#aboutButton
{
  grid-area: abutton;
  display: block;
  width: 100%;
  border: none;
  background-color: #1b0221;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}
#photosButton
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;

}
#searchBox
{
  grid-area: pbutton;
  display: block;
  width: 100%;
  border: none;
  padding: 20px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  background-color: #1b0221;
  color: white;
  font-family: 'Oswald', sans-serif;
  border-bottom: solid white;
  opacity: .9;
}

#first-pic{
  background: url("https://media1.giphy.com/media/Y2sQVqjfa185O/source.gif");
}

#second-pic{
  background: url("https://thumbs.gfycat.com/RawElasticAfricanharrierhawk-size_restricted.gif");
}

#third-pic{
  background: url("https://www.theinquirer.net/w-images/f8e93ee5-48b8-4691-a66f-a33fa4540343/1/sourcecodeprogramming-580x358.jpg")
}

/* Dropdown Button */
/* .dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: inline-block;
  /* USE 'POSITION: FIX
  /* display: inline-block; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  /* position: absolute; */
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  position:absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 20px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover #searchBox {background-color: #3e8e41;}

#pollution{
  background-color: #00CC6E
}

#digital{
background-color: blue;
}

#learning{
  background-color: #DC143C	;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* Style the button that is used to open and close the collapsible content */
/* .text .collapsible {
  background-color: #00FA99;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
  background-color: #99ff99;
} */

/* Style the collapsible content. Note: hidden by default */
/* .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #00cc66;
} */
